<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Mail wurde gesendet</title>
    {% load static %} <!-- Dies lädt das `static` Tag -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Optional: Dein eigenes CSS -->
</head>
<body>
    <h1>E-Mail wurde gesendet</h1>
    <p>Wenn die von dir eingegebene E-Mail-Adresse in unserem System vorhanden ist, haben wir dir eine E-Mail mit Anweisungen zum Zurücksetzen deines Passworts gesendet.</p>
    <p>Bitte überprüfe deinen Posteingang (und den Spam-Ordner) und folge den Anweisungen in der E-Mail.</p>
    <!-- <a href="#">Zurück zur Login-Seite</a>  % url 'login' %}          später ein redirect zum login.. das muss zu getrennt sein sonst will es trozdem auf die variable zugreifen obwohl auskomentiert   -->
</body>
</html>