<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passwort zurücksetzen</title>
    {% load static %} <!-- Dies lädt das `static` Tag -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Verweise auf dein CSS -->
</head>
<body>
    <h1>Passwort zurücksetzen</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">E-Mail-Adresse</label>
            {{ form.email }}  <!-- Eingabefeld für die E-Mail-Adresse -->
        </div>
        <button type="submit" class="btn">Passwort zurücksetzen</button>
    </form>
</body>
</html>