arrow==1.3.0
asgiref==3.8.1
async-timeout==4.0.3
Brotli==1.1.0
cairocffi==1.7.1
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
decorator==4.4.2
diff-match-patch==20230430
Django==5.0.7
django-cors-headers==4.4.0
django-debug-toolbar==4.4.6
django-extensions==3.2.3
django-import-export==4.1.1
django-redis==5.4.0
django-rq==2.10.2
djangorestframework==3.15.2
fonttools==4.53.1
idna==3.7
imageio==2.34.2
imageio-ffmpeg==0.5.1
moviepy==1.0.3
numpy==2.0.1
pangocairocffi==0.7.0
pangocffi==0.13.0
pillow==10.4.0
proglog==0.1.10
psycopg2-binary==2.9.9
pycairo==1.26.1
pycparser==2.22
python-dateutil==2.9.0.post0
python-decouple==3.8
redis==5.0.7
requests==2.32.3
rq==1.16.2
six==1.16.0
sqlparse==0.5.1
tablib==3.5.0
times==0.7
tqdm==4.66.5
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
