<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot your password?</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="header"><img class="logo" src="{% static 'img/image-1.png' %}" alt="Logo">
    <button class="button"></button></div>
    <div class="login-container">
        <h1>Forgot your password?</h1>
        <h2>We will send you an email with instructions to reset your password.</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group inputfieldContainer">
                <label class="labelText" for="{{ form.email.id_for_label }}">Email Address</label>
                {{ form.email }}
            </div>
            <button type="submit" class="btn">Send Email</button>
        </form>
        <div>impressum und noch son shit</div>
    </div>
</body>
</html>