<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passwort erfolgreich zurückgesetzt</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Optional: Dein eigenes CSS -->
</head>
<body>
    <h1>Passwort erfolgreich zurückgesetzt</h1>
    <p>Dein Passwort wurde erfolgreich zurückgesetzt. Du kannst dich jetzt mit deinem neuen Passwort anmelden.</p>
    <!-- <a href=" % url 'login' %}">Zur Login-Seite</a>  -->
</body>
</html>